@page "/CreateUser"
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@using Domain
@inject IUserService userService;

<div>
    <h3>Create User</h3>
    <div>
        <div>
            <label>Username:</label><br/>
            <input type="text" @bind="username" @bind:event="oninput"/>
        </div>
        <div>
            <label>Password</label><br/>
            <input type="text" @bind="password" @bind:event="oninput"/>
        </div>
        <div>
            @if (!string.IsNullOrEmpty(msg))
            {
                <label style="color: @color">@msg</label>
            }
        </div>

    </div>
    <div>
        <br/>
        <button @onclick="Create" disabled="@(string.IsNullOrEmpty(username) || string.IsNullOrEmpty(password))" class="acceptbtn">Create</button>
    </div>
</div>

@code {
    private string username = "";
    private string password = "";

    private string msg = "";
    private string color = "";

    private async Task Create()
    {
        try
        {
            msg = "";
            await userService.Create(new CreateUserDto(username, password));
            username = "";
            password = "";
            msg = "User created!";
            color = "green";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
            color = "red";
        }
    }

}